.word {
    display: flex;
    gap: 1rem;
    font-size: min(9vw, 9vh);
    line-height: .9;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}

.letter {
    border-bottom: max(0.6vw, 0.6vh) solid black;
}