.btn {
    width: min(9vw, 9vh);
    height: min(9vw, 9vh);
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: min(6vw, 6vh);
    line-height: 0.9;
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn.active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.btn.inactive {
    opacity: .3;
}

.btn:disabled,
.btn.active {
    pointer-events: none;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
}